.sidebar {
  @include text(20%, 100%);
  @extend %left;
  position: relative;
}

.sidebar {
    li {
      list-style: none;
      color: $color-text;
      text-decoration: underline;
      margin-left: -12px;
      margin-top: 18px;
      font-style: oblique;
    }
    ul {
       @extend %left;
       display: block;
       text-decoration: underline;
    }
}
.main {
  @include text(80%, 100%);
  @extend %right;
  position: relative;
}

.about p {
  @extend %right;
  margin-right: 10px;
  margin-left: 80px;
  margin-top: 80px;
  color: $color-text;
  font-style: oblique;
}
 .about::after {
   content: "";
  float: right;
 }

  .images-list li, .images-list img {
    @include text (80%, auto);
    @extend %right;
    list-style: none;
    margin-top: 10px;
    margin-left: -50px;
    margin-right: 20px;
    padding-left: 20px;
    position: relative;
    float: right;
    overflow: none;
    }
    img {
    @include text (80%, auto);
    list-style: none;
    display: inline;
    box-shadow: 3px #777;
}


//media queries
@media only screen and (min-width: 450px) {
  .images-list li:nth-child(9) {
    display: none;
    }


}
 @media #{$brk-narrow} {
   .images-list li:nth-child(9) {
     display: inline;
     }
   }
@media #{$brk-wide} {
  .main {
    max-width: 80%;
    max-height: 100%;
  }
}
