.heading h1 {
  font-family: $stack-courier;
  font-size: 2.5rem;
  color: lighten($color-heading, 20%);
  height: 70px;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 25px;
  background-color: lightgrey;
  margin: 0;
}
