
 button {
    .sidebar{
        background-color: lightblue;
        margin-left: 20px;
        margin: 50px 0 10px 40px;
        border: 1px solid black;
    }
    .about {
        background-color: lightblue;
        margin: 50px 680px 20px -180px;
        border: 1px solid black;
        float: right;
    }
}
