* {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  position: relative;
}

body {
  background-color: $color-base;
  margin: 0;
  font: .6em/ $stack-sans-serif;
 }

.nav-bar {
      height: 40px;
      max-width: 100%;
      background-color: $color-nav;
      margin: 0;
    }
.nav-bar {
    ul {
      margin: 0;
      display: inline;
    }
    li {
      max-width: 70%;
      padding: 0;
      padding-top: 10px;
      list-style: none;
      @extend %left;
      display: inline;
      background-color:$color-nav;
      color: $color-text;
      margin-left: 6px;
      margin-right: 3px;
    }
    a {
      text-decoration: none;
      font-style: italic;
      font-size: .8em;
    }
}
  .nav-bar a {
    &:visited {
    color: $color-text;
    }
    &:hover {
    color: #e60073;
    }
    &:active {
    color: lightcoral;
   }
}
