* {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  position: relative;
}

body {
  @include linear-gradient(to left, #4DA0B0, #D39D38);
  background-color: darken($color-base, 7%);

  margin: 0;
  font: .9em/ $stack-sans-serif;
  max-width: 100%;
 }

.nav-bar {
      height: 40px;
      max-width: 100%;
      background-color: $color-nav;
      margin: 0;
    }
.nav-bar {
    ul {
      margin: 0;
      display: inline;
    }
    li {
      max-width: 100%;
      padding: 0;
      padding-top: 10px;
      padding-left: 0;
      list-style: none;
      @extend %left;
      display: inline;
      background-color:$color-nav;
      color: darken($color-text, 10%);
      margin-left: 15px;
    }
    a {
      text-decoration: none;
      font-style: italic;
      color: darken($color-text, 30%);
      font-size: 1em;
     }
}
  .nav-bar a {
    &:visited {
    color: $color-text;
    }
    &:hover {
    color: #e60073;
    }
    &:active {
    color: lightcoral;
   }
}
